.d1{
    height: 70px;
    width: 100%;
    background-color: rgb(15, 15, 15);
}
.nav{
    text-align: center;
    height: 70px;
    width: 190px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: rgb(15, 15, 15);
    display: inline-block;
}
.nav>a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.nav:hover{
    background-color: black;
}